@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    width: 100%;
    overflow: hidden;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.navbar-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a, button {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease, color 0.3s ease;
}

.navbar-menu a:hover, button:hover {
    background-color: midnightblue;
    color: white;
    border-radius: 4px;
}

.navbar-menu a::before, button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: midnightblue;
    border-radius: 4px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(1.2);
}

.navbar-menu a:hover::before, button:hover::before {
    opacity: 1;
    transform: scale(1);
}


.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle-bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

#name-anchor {
    transition: color 0.3s ease;
}

#name-anchor:hover {
    color: #3869d4;
}


@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar-menu li {
        margin: 0;
    }

    .navbar-menu a {
        padding: 10px;
        border-top: 1px solid #575757;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-toggle.active + .navbar-menu {
        display: flex;
    }
}

.transition-link {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.transition-link:hover {
    color: deepskyblue;
    text-decoration: underline;
}

.wrapper {
    position: relative;
    height: 100vh;
}

.sidebar {
    border-radius: 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    transform: translateX(0);
}

/* Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
}


.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
